@theme {
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-full: 9999px;

  /* Aliases */
  --radius: var(--radius-md); 
  
  --spacing-4-5: 1.125rem;
  --spacing-18: 4.5rem;

  --container-2xl: 1400px;
}

:root {
  --radius: 0.5rem;
}
